



img{
    
    height: 200px;
    width: 200px;
   
    

}
.video{
    
    height: 300px;
    width: 300px;
    border-radius: 15px;
    background-color: rgb(69, 68, 68);
    align-items: center;
    
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr ;
    
    
}

p{
    color: white;
}

@media (max-width: 700px){
    section{
         display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr  ;
    }

    .video{
        background-color: aqua;
    }
}