html, body {
    height: 100%;
}

body {
    margin-top: 10px;
    max-width: 400px;
    font-family: gotham, arial, helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0 auto !important;
}

div {
    background: azure;
    height: 100%;
}
h2{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}